.single-doctor {
  overflow: hidden;
}
.single-doctor .img {
  transition: 0.5s;
  /* margin: 10px 75px; */
  margin-bottom: 20px;
  transform-origin: right;
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
}
.single-doctor:hover .img {
  transform: scale(1.2);
}
.single-doctor .btn-book {
  background-color: #0db8b5;
  border: 0;
  color: white;
  padding: 5px 10px;
  transition: 0.2s;
  border-radius: 5px;
}
.single-doctor .btn-book:hover {
  background-color: #f16539;
}
