.specialists {
  overflow: hidden;
}
.specialists-card {
  min-height: 420px;
  max-height: 420px;
  margin-bottom: 30px;
}
.specialists-text {
  color: #f16539;
  text-align: justify;
}
.specialists .img {
  transition: 0.5s;
  border-radius: 5px;
}
.specialists :hover .img {
  transform: scale(1.2);
  /* transform-origin: bottom; */
  transform: rotate(10deg);
}
.card-name {
  color: #f16539;
  line-height: 40px;
  font-size: 19px;
  display: block;
}
.btn-specialists {
  background-color: #0db8b5;
  color: white;
  font-size: 15px;
  padding: 7px 15px;
  border-radius: 50px;
  outline: 0;
  border: 0;
}
.btn-specialists:hover {
  background-color: #f16539;
}
