.menu-item {
  font-size: 18px;
  color: #0db8b5;
  font-weight: 400;
  text-decoration: none;
  margin-right: 10px;
  text-transform: uppercase;
  padding: 5px 10px;
  font-weight: 500;
  border-radius: 3px;
  transition: 0.3s;
}
.menu-item:hover {
  color: #fff;
  background-color: #0db8b5;
}
.user-name {
  font-weight: bold;
  text-decoration: none;
  color: #f16539;
}
.btn-logout {
  background-color: #f16539;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 5px 10px;
}
.btn-login {
  background-color: #0db8b5;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 5px 10px;
}

@media (max-width: 992px) {
  .menu-item {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
  .btn-logout {
    margin-bottom: 15px;
    text-align: center;
    margin: auto;
  }
  .btn-login {
    margin-bottom: 15px;
    display: block;
    margin: auto;
  }
}
