.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../images/banner/banner.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.banner-heading {
  padding-bottom: 50px;
  color: rgb(211, 206, 206);
  text-align: center;
  font-weight: 300;
}
.banner-heading span {
  color: #0db8b5;
  font-weight: 500;
}
#button-addon2 {
  background-color: #0db8b5;
}
#button-addon2:hover {
  background-color: #f26438;
}
