.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/images/banner/banner.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
  background-repeat: no-repeat;
}
.banner-heading {
  padding-top: 100px;
  padding-bottom: 50px;
  color: rgb(211, 206, 206);
  text-align: center;
  font-weight: 300;
}
.banner-heading span {
  color: #12c5c3;
  font-weight: 500;
}
#button-addon2 {
  background-color: #12c5c3;
}
#button-addon2:hover {
  background-color: #f26438;
}
