.not-found {
  background-color: #f6f9ff;
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.errorcode {
  font-family: "Creepster", cursive;
  color: #f16539;
  text-align: center;
  font-size: 6em;
  letter-spacing: 0.1em;
}
.errortext {
  color: #12c5c3;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8em;
  margin-bottom: 30px;
}
.btn-back {
  text-transform: uppercase;
  margin-top: 50px;
}
