.not-found {
  background-color: #b8bec7;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.errorcode {
  font-family: "Creepster", cursive;
  color: white;
  text-align: center;
  font-size: 6em;
  letter-spacing: 0.1em;
}
.errortext {
  color: #fbd130;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8em;
}
.btn-back {
  text-transform: uppercase;
  margin-top: 50px;
}
